<h1>Page 2</h1>

<%= image_tag 'image.svg', class: 'w-52' %>

<p>
  Duis aliqua culpa nisi deserunt tempor reprehenderit cillum laborum ea deserunt.
</p>

<%= link_to 'Go back to page 1', page1_path %>