<h1>Page4</h1>
<%= turbo_frame_tag 'page4-image-response' do %>
  <%= image_tag 'image.svg', class: 'w-52' %>
<% end %>

<%= turbo_frame_tag 'page4-text' do %>
  <p> Quis aliquip proident fugiat esse commodo occaecat labore proident.</p>
<% end %>